.main {
  text-align: center;
  max-width: 350px;
  margin: auto;
  margin-top: 20px;
  background: #f9fcfd;
  border-radius: 10px;
  border: 1px solid #88bedf;
  color: #2c4359;
  padding: 20px;
  box-shadow: 0 4px 4px 2px rgba(119, 161, 198, 0.21);
}
